/* -----------StarRating.jsx start---------- */
.s_rating-1 {
	display: flex;
	padding: 8px 12px;
	position: absolute;
	background-color: #fff;
	box-shadow: 1px 1px 8px 0px #00000026;
	border-radius: 20px;
	bottom: -2.4%;
	left: 30%;
	justify-content: space-between;
	height: 44px;
	width: 90px;
	font-weight: 600;
	font-size: 19px;
}
.s_rating-2 {
	display: flex;
	padding: 1rem 1.5rem;
	background-color: #fff;
	box-shadow: 1px 1px 8px 0px #00000026;
	border-radius: 28px;
	height: 53px;
	font-weight: 600;
	font-size: 16px;
	gap: .6rem;
	align-items: center;
}
.s_rating-2 img{
	height: 22px;
}
.s_rating-3 {
	display: flex;
	padding: 8px 12px;
	position: absolute;
	background-color: #fff;
	box-shadow: 1px 1px 8px 0px #00000026;
	border-radius: 20px;
	bottom: -7.4%;
	left: 26%;
	justify-content: space-between;
	height: 44px;
	width: 90px;
	font-weight: 600;
	font-size: 19px;
}
.s_rating-3 img{
	height: 30px !important;
}
/* -----------StarRating.jsx end---------- */
