.astrolistpage_tabs{
   

}
.astrolistpage_tabs button{
    box-shadow: 1px 2px 6px 0px #00000040;
}

.blogCategories img{
    height: 50px;
}
.blogCategories p{
    font-weight: 600;
    font-size: 20px;
}
.blog-inner-container{
    display: flex;
}
.blogContent{
    box-shadow: 0 0 2px #919191;
    border-radius: 10px;
    padding: 10px;
    margin:  0 1rem;
}
.blogContent img{
    height: 210px;
}
.blogContent h5{
    font-weight: 600;
    margin: 1rem 0;
}
.shadow-right{
    box-shadow: 1px 2px 6px 0px #00000040;
}