.menu li > :not(ul, .menu-title, details, .btn):active, .menu li > :not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active {
	background-color: transparent !important;
	color: var(--colorText ) !important;
  border :1px solid var(--colorText);
}
.nav-container{
  padding: 0 4rem;
}
.navbar-center img{
  height: 40px;
}

.search-icon{
   height: 20px;
}
:where(.menu li){
  font-size: 24px;
}
/* Slideshow.css */
* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
.numbertext p{
  color: var(--colorbackground);
}
/* Caption text */
.numbertext{
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbertext p{
  display: none;
}

.text {
  color: var(--colorWhite);
  font-size: 16px;
  padding: 2px;
  text-align: center;
}

.active {
  background-color: var(--colorbackground);
  padding: 1rem;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
  transition: 3s ease-in;
}
.nav-links{
  color: #000;
  text-align: center;
  margin: 0 auto;
}
.nav-links li{
  display: inline-block;
  margin: 0;
  padding:0 10px;
}
.nav-links a{
  letter-spacing: 0.2em;
  font-size: 15px
}
.nav-links button {
  display: flex;
  letter-spacing: 0.2em;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}
.options{
  z-index: 11;
}
@keyframes fade {
  from {
    opacity: .9;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

