.slick-slider {
	display: flex !important;
	align-items: center !important;
	margin: 3rem 5rem;
}

.slick-slider .astrologer_card {
    width: auto !important;
    display: grid !important;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    padding: .5rem 0rem;
    gap: 10px;
    /* border: 1px solid var(--colorText); */
    background-color: #fff;
    /* box-shadow: 0px 0px 19px -8px var(--colorText); */
	box-shadow: 2px 4px 8px 0px #00000040;
    border-radius: 20px;
    transition: transform .25s cubic-bezier(.645, .045, .355, 1), box-shadow .25s cubic-bezier(.645, .045, .355, 1);
}
.slick-arrow-prev {
    margin-left: 2rem;
	margin-right: 1rem;
    background: var(--colorbackground);
    border-radius: 50%;
    padding: 9px;
    color: #fff;
    cursor: pointer;
}

.slick-arrow-next {
    margin-right: 2rem;
    background: var(--colorbackground);
    border-radius: 50%;
    padding: 9px;
	color: #fff;
	cursor: pointer;
}
.product_cardImg {
	position: relative;
}

.product_cardImg img {
	height: 200px
}

/* .astrologer_card button {
	border-radius: 25px;
	background-color: #E2343B;
	color: #ffffff;
	padding: .3rem;
	font-size: 22px;
	font-weight: 600;
} */

.astrologer_card h2 {
	font-weight: 600;
	font-size: 20px;
	color: #000;
	line-height: 2rem;
}

.astrologer_card h6 {
	color: #727272;
	font-weight: 500;
	font-size: 17px;
}

.star_img {
	position: absolute;
	width: 115px;
	border-radius: 24px;
	display: flex;
	justify-content: space-around;
	box-shadow: 1px 1px 8px 0px #00000026;
	background: #fff;
	bottom: 0;
	right: 18%;
	align-content: center;
	padding: .7rem;
}

.star_img img {
	height: 34px;
}

.star_img p {
	font-size: 24px;
	font-weight: 600;
}




