.product_cardImg{
 position: relative;
}
.product_cardImg{
	position: relative;
}

.product_cardImg .astrologerImage{
	height: 160px;
}
.online-text{
	color: green;
	font-weight: 600;
}
.offline-text{
	color: #E2343B;
	font-weight: 600;
}

/* -------------------astro service card------------------- */
.astro_services_bg{
	background-color:#fcedee;
	display: flex;
	flex-direction: column;
}
.astro_services_bg h1{
	font-size: 2.5rem;
	color: #E2343B;
	font-weight: 600;
	padding: 1rem 0;
}
/* ----------------------astro_services--------------- */

.astrologer_cardImg{
	display: flex;
	justify-content: center;
}
.astro_services .astrologer_cardImg img{
	height: 221px;
	width: 216px;
}
.blog_card_margin {
    margin: 0 4rem;
}
.blog_card_img{
	height: 140px;
}
.blog_border h2{
	color: var(--colorText);
}
.blog_border p{
	padding: .5rem;
	margin: 10px 0;
}
.blog_border{
	border: 1px solid #D9D9D9;
}
.testimonial_card {
	width: auto !important;
	border: 1px solid #F1F1F1;
	box-shadow: 0px 7px 14px 0px #EAEAEA;
	border-radius: 5px;
	padding: 3rem;
    display: grid;
    justify-content: center;
	background-color: #fff;
    align-items: center;
}
.testimonial_container{
	margin: 0 3rem;
}
.testimonial_container .slick-slide .slick-active .slick-current{
	margin: 0 10px;
}
.testimonial_container .slick-arrow-prev {
    margin: 0 1rem;
}
.testimonial_container .slick-arrow-next{
    margin: 0 1rem;
}
/* ---------------productcard----------- */
.productcard-btn{
	background-color: #76c43b;
	border: none;
	width: 100%;
	outline: none;
	color:#fff;
	text-align: center;
	border-radius: 5px;
}

.product-card img{
	height: 180px; 
	width: 100%; 
	object-fit: cover; 
	transition: opacity 0.3s ease;
  }
  
  .product-card {
	padding: 12px; 
	margin: 8px; 
	border: 1px solid #ddd; 
	border-radius: 8px;
	background: white; 
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  /* card.css */


  
  /* Hover effect: change image and smooth transition */
  .product-card img:hover {
	background-image: url('/path/to/hover-image.jpg'); /* New image on hover */
	background-size: cover; /* Ensure the hover image fits the wrapper */
	background-position: center; /* Center the hover image */
  }
  
 
  
  
.shop-by-cat-img{
	height: 220px;
	width: 100%;
	transition: transform 0.5s ease; /* Smooth transition for hover effect */
}

.shop-by-cat-img:hover {
  transform: scale(1.03);
  cursor: pointer; /* Zoom in when hovering */
}
.shopbycat-btn{
	width: 100%;
	border-radius: 0% !important;
	margin: 0 !important;
}
  
