.hero_section .banner {
    background: url('/src/assets/imgs/Banner.jpg');
    color: var(--colorwhite);
    border-radius: 5px;
    background-size: cover;
}
.buy_any_five h1{
    background-color: #3a295f;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    color:#f7f4ff;
    font-weight: 600;
}
.step div {
    position: relative;
    margin: 2rem;
    margin: auto;
    padding-top: 1rem;
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    text-align: center;
}
.step div span {
    position: absolute;
    width: 16px;
    top: 9px;
    height: 16px;
    border-radius: 50%;
    background: cadetblue;
}
.step p{
    margin-top: 10px;
    line-height: 18px
}
.step h6{
    font-size: 14px;
    letter-spacing: .1px;
    font-weight: 600;
}

.connect-now{
    background-color: var(--colorWhite);
    border: 1px solid var(--colorText);
    color: var(--colorText);
    font-size: 1.3rem;
    font-weight: 600;
}

.feedback_herosection{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 1.5rem;
}
.feedback_herosection img{
    height: 48px;
}
.feedback_herosection p{
    font-weight: 600;
    text-align: center;
}
.about_product_img img{
   
    border: 1rem solid #7e4689;
    border-radius: 8px;
}
.about_product_div{
    background-color:#c1a7c6;
    padding: 10px;
}
.about_product {
    padding: 12px;
    border-radius: 10px;
    background: #7e4689;
    display: inline-block;
    max-width: 100%;
    position: relative;
    text-align: left;
    width: 100%;
}
.about_product p{
color: #fff;
}
.about_product h2{
color: #fff;
text-transform: uppercase;
font-size: 26px;
font-weight: 600;
}
.testimonials_div{
    background-color: #ed939b2e;
}
.faq{
   padding-top: 3rem;
}
.faq_question{
    padding: 1rem 5rem;
}


